*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:aquamarine;
}
.sum-box{
    width: 40%;
    background-color: white;
    margin: 200px auto;
    border-radius: 25px;
}
h1{
    text-align: center;
    padding: 50px 0;
}