*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:indianred;
}
.array-box{
    width: 30%;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    background-color: white;
    margin: 40px auto;
}
#game-result{
    font-size: 30px;
}